<style>


  .main-container{
    width: 100%;
    height: 600px;
    display:flex;
    justify-content: space-between;
    background-image: url("download.jpeg");
    
  }
  .Login-container{
    display: flex;
    align-items: center;
    justify-content: center;
      margin-right: 50px;
    padding-right: 30px;

  }
    .Login-container2{
  
      padding: 10px;
       margin: 10px;
      display: table ;
      width: 400px;
       border-radius: 10px;      

  }

  button{
    padding: 20px;
    margin: 20px;
  }
    

    .right-section{
        background-color: #10ac84;
        width: 50%;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right-section h2{
        font-family: Unbounded;
        color: white;
    }
</style>



<section class="main-container">
    <div class="right-section">
        <h2>wlecome to E-commers</h2>
        <h4><new way to being/h4>
    </div>
<div class="Login-container">
  
    <form action="/user/signup" method="post">
      <div class="Login-container2"></div>
        <input type="name" name="name" placeholder="enter a name"  class="Login-container2">
       
        <input type="email" name="email" placeholder="enter a email"  class="Login-container2">
               
        <input type="password" name="password" placeholder="enter a password"  class="Login-container2">
       
        <button type="submit" class="btn btn-primary float-right">Login</button>

    </form>
</div>
</section>



